body {
    padding-top: 200px; /* Adjust this value based on the height of your navbar */
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: Papyrus, fantasy;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is above other content */
}

.side-by-side {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
}
.side-by-side > div {
    flex: 1;
}
h2 {
    text-align: center;
}